<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rfstudio.timeapp">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <!-- 此作为启动页-->
        <activity android:name=".work.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".work.homeWork.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden"
            >

        </activity>


        <activity android:name=".work.customplanWork.view.CustomPlanActivity"/>
        <activity android:name=".work.autopalnWork.view.AutoPlanActivity"/>
        <activity android:name=".work.countdownWork.view.CountdownActivity">
        </activity>

        <receiver android:name=".utils.NotifyAlertReceiver"/>

        <service android:name=".service.AlarmService"/>
        <service android:name=".service.SystemTipService"/>



    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


</manifest>